<h2>تحديث <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
    <%= f.input :username, label: 'اسم المستخدم', required: true, autofocus: true %>

    <%= f.input :age, label: 'العمر' %>
    <%= f.input :gender, label: 'الجنس' %>
    <%= f.input :bio, label: 'نبذة عني' %>

    <%= f.input :email, label: 'البريد الإلكتروني', required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>بانتظار التأكيد: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
    label: 'كلمة السر',
                hint: "اتركه فارغا اذا لم تكن تريد تغيير كلمة السر",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
    label: 'تأكيد كلمة السر',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
    label: 'كلمة السر الحالية',
                hint: "يجب كتابة كلمة السر الحالية لحفظ التغييرات",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "تحديث" %>
  </div>
<% end %>

<h3>إلغاء حسابي</h3>

<p>غير سعيد? <%= link_to "الغاء حسابي", registration_path(resource_name), data: { confirm: "هل أنت متأكد?" }, method: :delete %></p>

<%= link_to "رجوع", :back %>
