<div class="card mb-3 tweet-<%= tweet.id %>">
    <div class="card-header">
        <%= gravatar_tag tweet.user.email, size: 25, html: {class: 'img-fluid'} %>
        <span><%= tweet.user.username %></span>
        <span>غرد</span>
        <%= content_tag :time, '', class: 'timeago', datetime: tweet.created_at.localtime %>
        <% if user_signed_in? && current_user == @user %>
        <%= link_to 'تعديل', edit_tweet_path(tweet), class: "btn btn-sm btn-primary" %>
        <span>|</span>
        <%= link_to 'حذف', tweet_path(tweet), method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
    </div>
    <div class="card-body">
        <%= raw(tweet.content_html) %>
        <%= render 'tweets/like_and_dislike_button', tweet: tweet %>
    </div>
</div>