 
<div class="row">

    <div class="col-md-3">
        <%= gravatar_tag @user.email, size: 500, :html => {:class => 'img-fluid'} %>
    </div>

    <div class="col">
        <div class="jumbtron-fluid">
            <h1 class="display-3">
                <%= @user.username %>
                <div class="btn btn-group">
                  <%= render 'follow_button', user: @user %>
                </div>
            </h1>
            <p class="lead">
            <%= link_to 'المتابِعون', followers_user_path %>: <%= @user.followers.count %>
            |
            <%= link_to 'المتابَعون', following_user_path %>: <%= @user.following.count %>
            </p>
            <p>العمل: <%= @user.age %></p>
            <p>الجنس: <%= @user.gender %></p>
            <hr class="my-3">
            <h1 class="lead"><%= @user.bio %></h1>
        </div>
    </div>

</div>
