<div class="row">
  <div class="col">
    <div class="jumbotron-fluid text-center">
      <h1 class="mb-3">الحائط</h1>
      <hr class="my-3" />
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="timeline-centered">
          <% @activities.each do |activity| %>
            <% if activity.trackable %>
            <article class="timeline-entry">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                       <%= gravatar_tag activity.owner.email, size: 40, html: { class: 'img-circle' } %>
                       <%= content_tag :time, '', class: 'timeago timeline-time', datetime: activity.created_at.localtime %>
                    </div>
                    <div class="timeline-label tweet-<%= activity.trackable.id %>">
                        <h2><%= link_to activity.owner.username, user_path(activity.owner.username) %></h2>
                        <p>
                        <% case activity.trackable_type when 'Tweet' %>
                            <% case activity.key when 'tweet.created' %>
                                <%= raw(activity.trackable.content_html) %>
                                <%= render 'tweets/like_and_dislike_button', tweet: activity.trackable %>
                                <%= render('tweets/retweet_button', tweet: activity.trackable) if activity.trackable.user_id != current_user.id %>
                                <hr>
                                <%= render 'comments/form', tweet: activity.trackable %>
                                <br>
                                <div id="comments-<%= activity.trackable.id %>">
                                  <%= render activity.trackable.comments.reverse %>
                                </div>
                            <% when 'tweet.like' %>
                            <%= link_to activity.owner.username, user_path(activity.owner) %>
                            <span>أعجبته تغريدة</span>
                            <% when 'tweet.dislike' %>
                            <%= link_to activity.owner.username, user_path(activity.owner) %>
                            <span>لم تعجبه تغريدة</span>
                            <% end %>
                        <% when 'Relationship' %>
                            <%= link_to activity.owner.username, user_path(activity.owner.username) %>
                            <span>تابع</span>
                            <%= link_to activity.recipient.username, user_path(activity.recipient.username) %>
                        <% when 'Comment' %>
                          <%= link_to activity.owner.username, user_path(activity.owner) %> رد على تغريدة
                        <% end %>
                        </p>
                    </div>
                </div>
            </article>
            <% end %>
          <% end %>
        </div>
    </div>
</div>