<h2>تسجيل الدخول</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                label: 'البريد الإلكتروني',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: 'كلمة السر',
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <% if devise_mapping.rememberable? %>
      <%= f.input :remember_me, label: 'تذكرني', as: :boolean, input_html: {class: 'custom-control-input'}, label_html: {class: 'custom-control-label'}, wrapper_html: {class: 'custom-control custom-checkbox'} %>
    <% end %>
  </div>

  <div class="form-actions mb-3">
    <%= f.button :submit, "تسجيل الدخول", class: 'btn btn-light' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
